.entry-title {
    text-align: center;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0px;
}

.entry-form {
    margin: auto;
    width: 400px;
    border: 2px solid gray;
    padding: 10px 10px 0px 10px;
}

.entry-form-icon {
    color: rgba(0, 0, 0, .25)
}

.nav-button-list {
    display: flex;
}

.google-button {
    height: 32px;
}

.google-button > span {
    display: inline;
    line-height: 80%;
}
